@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

html {
  height: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  background-image: linear-gradient(hsl(215, 20%, 17%), hsl(215, 27%, 12%));
  width: 340px;
  height: 360px;
  border-radius: 12px;
  padding: 25px;
}

.circle {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: hsl(210, 17%, 18%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  margin-top: 15px;
  margin-bottom: 13px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

h2 {
  color: hsl(0, 0%, 100%);
  margin-bottom: 10px;
  text-align: left;
}

p {
  color: hsl(216, 12%, 54%);
  font-size: 15px;
  text-wrap: wrap;
  text-align: left;
}

.rating-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}

.rating-container .circle {
  border-style: none;
  text-align: center;
  font-weight: 700;
  color: hsl(216, 12%, 54%);
  margin: 8px;
}

.rating-container .circle:hover {
  border-style: none;
  text-align: center;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
  cursor: pointer;
}

/* .rating-container .circle:focus {
  border-style: none;
  text-align: center;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  background-color: hsl(217, 12%, 63%);
  cursor: pointer;
} */

.submit-container .submit-button {
  border-style: none;
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
  height: 44px;
  width: 100%;
  border-radius: 25px;
  letter-spacing: 2px;
}

.submit-container .submit-button:hover {
  border-style: none;
  color: hsl(25, 97%, 53%);
  background-color: hsl(0, 0%, 100%);
  height: 44px;
  width: 100%;
  border-radius: 25px;
  letter-spacing: 2px;
  cursor: pointer;
}

.rating-clicked {
  border-style: none;
  text-align: center;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  background-color: hsl(217, 12%, 63%);
  cursor: pointer;
}

/* ### Primary

- Orange: hsl(25, 97%, 53%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%) */
